<ion-header>
  <ion-toolbar>
    <ion-title>api-rutas2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-button (click)="mapRuta()" type="Submit"></ion-button>
  <h1>La distancia es: {{distancia}}</h1>-->
  
  
  <!-- <form [formGroup]="formMapas"  (ngSubmit)="route()" >

    <input 
        id="origin-input"
        class="controls"
        type="text"
        placeholder="Enter an origin location"
        formControlName="origineishon"
      />

  <input
        id="destination-input"
        class="controls"
        type="text"
        placeholder="Enter a destination location"
        formControlName="destineishon"
      />

  
  </form> -->
  <form [formGroup]="formMapas" (ngSubmit)="route()">
    <input type="text"
    id="origin-input"
    placeholder="Enter an origin location"
    >

    <input id="origin-input" 
    type="text"
    placeholder="Enter a destination location">
  </form>
  <div class="mapa" #divMap></div>

  <ion-button class="boton1" size="default" expand="block" (click)="route()">Calcular ruta</ion-button>
</ion-content>
