<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    <h1>Información de Cuenta</h1>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="5">
        <div class="avatar">
          <ion-img src="assets\images\noperfil.jpg" class="fotoperfil"></ion-img>
          <ion-icon style="cursor: pointer;" size="large" name="create-outline" class="edit"></ion-icon>
          
        </div>
        <ion-button *ngIf = "varEd == 0" (click)="editarPf()">Editar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <br>

  <ion-list class="lista-ajustes">
    <ion-item>
      <ion-label>
        <h3>Nombre</h3>
        <ion-label>{{ nom }}</ion-label>
        <ion-input *ngIf = "varEd == 1" placeholder="Nuevo nombre" id="nom2"></ion-input>
      </ion-label>     
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Correo</h3>
        <ion-label>{{ correo }}</ion-label>
        <ion-input *ngIf = "varEd == 1" placeholder="Nuevo correo" id="mail2"></ion-input>
      </ion-label>     
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Teléfono</h3>
        <ion-label>{{ fono }}</ion-label>
        <ion-input *ngIf = "varEd == 1" placeholder="Nuevo telefono" id="fono2"></ion-input>
      </ion-label>     
    </ion-item>

    <ion-item>
      <ion-label>
        <h3>Contraseña</h3>
        <ion-label>{{ pass }}</ion-label>
        <ion-input *ngIf = "varEd == 1" type="password" id="pass2"></ion-input>
      </ion-label>     
    </ion-item>

  </ion-list>
  
  
  <ion-row>
    <ion-button slot="end" *ngIf = "varEd == 1" (click)="confirmPf()">Confirmar</ion-button>
  </ion-row>
  
</ion-content>
