
<ion-content>
  <ion-list style="margin-top: 45px" lines="full" class="ion-no-margin">
    <ion-card class="card1">
      <ion-label>Agrega un vehículo para registrarte como conductor</ion-label>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-input placeholder="Marca" type="text"></ion-input>
      </ion-card-content>
    </ion-card>
    <ion-card lines="full" class="ion-no.margin">
      <ion-card-content>
        <ion-input placeholder="Modelo" type="text"></ion-input>
      </ion-card-content>
    </ion-card>
    <ion-card lines="full" class="ion-no.margin">
      <ion-card-content>
        <ion-input placeholder="Patente" type="text"></ion-input>
      </ion-card-content>
    </ion-card>
  </ion-list>
  
  <center>
    <ion-row>
      <ion-col>
        <ion-checkbox></ion-checkbox>
      </ion-col>
      <ion-col size="10">
        <ion-label>Aceptar los <a href="">Lineamiento de Conductor</a></ion-label>
      </ion-col>
    </ion-row>
    
    
    <br>  
    <ion-button color="dark" shape="round" (click)="registrarVeh()">Registrar Vehiculo</ion-button>
    <mat-spinner *ngIf="varProg == 1" [diameter]="45" style="margin-top: 20px"></mat-spinner>
  </center>
  
</ion-content>
