<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header> Reservas Disponibles </ion-list-header>

    <ion-item>
      <div>
        <ion-img src="assets\images\auto4.jpg" class="fotoperfil"></ion-img>
      </div>
      <ion-label>
        <h2>Juanito</h2>
        <h3>Horario: 20:30</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <div>
        <ion-img src="assets\images\auto4.jpg" class="fotoperfil"></ion-img>
      </div>
      <ion-label>
        <h2>Crotolamo</h2>
        <h3>Horario: 21:30</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <div>
        <ion-img src="assets\images\auto4.jpg" class="fotoperfil"></ion-img>
      </div>
      <ion-label>
        <h2>Uxiono</h2>
        <h3>Horario 22:00</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <div>
        <ion-img src="assets\images\auto4.jpg" class="fotoperfil"></ion-img>
      </div>
      <ion-label>
        <h2>Padalustro</h2>
        <h3>Horario 19:00</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <div>
        <ion-img src="assets\images\auto4.jpg" class="fotoperfil"></ion-img>
      </div>
      <ion-label>
        <h2>Padalustro</h2>
        <h3>Horario 19:00</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <div>
        <ion-img src="assets\images\auto4.jpg" class="fotoperfil"></ion-img>
      </div>
      <ion-label>
        <h2>Padalustro</h2>
        <h3>Horario 19:00</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  

</ion-content>
