<ion-content>
  
  <ion-list lines="full" class="ion-no-margin">
    <ion-label>Agrega un vehículo para registrarte como conductor</ion-label>
    <ion-card>
      <ion-card-content>
        <ion-item style="margin-top: -25px">
          <ion-label position="floating">Modelo</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card lines="full" class="ion-no.margin">
      <ion-card-content>
        <ion-input placeholder="Marca" type="text"></ion-input>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <center>
    <ion-button shape="round" [routerLink]= "['/pagina2']">Registrar Vehiculo</ion-button>
  </center>
  
</ion-content>
