<h1>Mapa Angular</h1>

<button (click)="mapRuta()">Calcular ruta</button>
<h1>La distancia es: {{distancia}}</h1>


<div class="formulario">
    <form [formGroup]="formMapas" (ngSubmit)="onSubmit()">
      <input type="text" #inputOrigen id="inputOrigen" formControlName="busqueda">
      <input type="text" #inputDestino id="inputDestino" formControlName="busqueda">
  
      <div class="form panel">
  
        <div>
          <img class="sb-title-icon" src=""
            alt="">
        </div>
  
        <input type="text" placeholder="Direccion" formControlName="direccion" />
        <input type="text" placeholder="Edificio, departamento, piso (opcional)" formControlName="referencia" />
        <input type="text" placeholder="Ciudad" class="ciudad" formControlName="ciudad" />
        <input type="text" placeholder="Provincia" formControlName="provincia" />
        <div class="half-input-container">
          <input type="text" class="half-input" placeholder="Region" formControlName="region" />
        </div>
  
        <ion-button class="button-cta" (click)='mapRuta()' type="submit">Guardar</ion-button>
  
      </div>

      <div class="mapa" id="divMap" #divMap></div>
      
    </form>
  </div>