ion-content{
    --background: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    .content{
        text-align: center;
    }

    ion-item{
        cursor: pointer;
    }
}