<ion-header>
  <ion-toolbar>
    <ion-title>asientos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin: 15px auto" class="card-center">
    <ion-row>
      <ion-col size="6">
        <center>
          <ion-icon name="lock-closed" style="font-size: 60px"></ion-icon>
        </center>
        
      </ion-col>
      <ion-col size="6">
        <center>
          <ion-icon name="radio-button-off" style="font-size: 60px"></ion-icon>
        </center>
        
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <center>
          <ion-icon name="radio-button-off" style="font-size: 60px"></ion-icon>
        </center>
      </ion-col>
      <ion-col size="4">
        <center>
          <ion-icon name="radio-button-off" style="font-size: 60px"></ion-icon>
        </center>
      </ion-col>
      <ion-col size="4">
        <center>
          <ion-icon name="radio-button-off" style="font-size: 60px"></ion-icon>
        </center>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
