<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" class="ion-no-margin">
    <ion-card>
      <ion-card-content>
        <ion-input placeholder="Nombre" [(ngModel)] = "nom" type="text"></ion-input>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-input placeholder="Apellido" [(ngModel)] = "apell" type="text"></ion-input>
      </ion-card-content>
    </ion-card>
    <ion-card style="margin: 15px auto" class="card-center">
      <ion-card-content>
        <ion-input placeholder="RUT con puntos y guion" [(ngModel)] = "rut" type="text"></ion-input>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-input placeholder="Correo" [(ngModel)] = "correo" type="email"></ion-input>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-input placeholder="Contraseña" [(ngModel)] = "pass" type="password"></ion-input>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-input placeholder="Repetir Contraseña" [(ngModel)] = "pass2" type="password"></ion-input>
      </ion-card-content>
    </ion-card>
  </ion-list>
  <center>
    <ion-button shape="round" (click)="registrarse()">Registrarse</ion-button>
  </center>
</ion-content>
