<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="header">
    <h1>Configuración</h1>
  </div>

  <div class="content">
    <h5>Ajustes de cuenta</h5>
    <ion-list class="lista-ajustes">
      <ion-item>
        <ion-icon name="home-outline"></ion-icon>
        <h6>Mis Direcciones</h6>
      </ion-item>

      <ion-item>
        <ion-icon name="person-outline"></ion-icon>
        <h6>Mi Perfil</h6>
      </ion-item>

      <ion-item>
        <ion-icon name="eye-outline"></ion-icon>
        <h6>Mis Direcciones</h6>
      </ion-item>

    </ion-list>
    

    <br>
  </div>

  <div class="content2">
    <ion-list>
      <ion-item>
        <h6 style="padding-top: 10px; color: red;padding: 0px 0px 2px 0px; ">Cerrar sesión</h6>
      </ion-item>
    </ion-list>
  </div>


</ion-content>
