<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      UwUber
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">    
    <ion-toolbar>
      <ion-title size="medium">UwUber</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-card>
      <ion-input type="email" placeholder="Correo"></ion-input>
    </ion-card>
    <ion-card style="margin-bottom: 0px;">
      <ion-input type="password" placeholder="Contraseña"></ion-input>
    </ion-card>

        <ion-grid>
          <ion-row>
            
            <ion-col size="12">
              <div style='float: right; '>
                <a style="font-size: x-small; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;" href="#">¿Olvidaste tu contraseña?</a>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class='test'>
          <div style='float: left; margin-left: 18px;margin-top: 16px;'>
            <a style="font-size: small; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;" [routerLink] = "['/registrarse']">Registrarse</a>
          </div>
          <div style='float: right; margin-right: 10px;'>
            <ion-button style="font-size: 90%;" size="default" [routerLink] = "['/principal']">Enviar</ion-button>
          </div>
        </div>
      

    
  </div>
  
  
</ion-content>
