<ion-content [fullscreen]="true">

  <div id="container">
    <img style="margin-top: -20px;" src="assets\images\logo.png" alt="">

    <ion-card style="margin-top: 0px;">
      <ion-input [(ngModel)] = "correo" type="email" placeholder="Correo"></ion-input>
    </ion-card>
    <ion-card style="margin-bottom: 0px;">
      <ion-input [(ngModel)] = "pass" type="password" placeholder="Contraseña"></ion-input>
    </ion-card>

        <ion-grid>
          <ion-row>
            
            <ion-col size="12">
              <div style='float: right; '>
                <a style="font-size: x-small; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;" href="#">¿Olvidaste tu contraseña?</a>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class='test'>
          <div style='float: left; margin-left: 10px;'>
            <ion-button color="dark" style="font-size: 90%; " size="default" [routerLink] = "['/registrarse']">Registrarse</ion-button>
          </div>
          <div style='float: right; margin-right: 10px;'>
            <ion-button color="dark" style="font-size: 90%;" size="default" (click) = "login()">Enviar</ion-button>
          </div>
          
        </div>
        
        <center>
          <mat-progress-bar style="margin-top: 100px" *ngIf = "varProg == 1" mode="indeterminate"></mat-progress-bar>
        </center>
        

    
  </div>
  
  
</ion-content>
