<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="cursor: pointer;" class="contenido1">
    <ion-item class="placeholder">      
      <ion-input placeholder="Seleccionar punto en el mapa"></ion-input>
    </ion-item>
  </div>


  <div class="imagen">
    <img src="assets\images\mapa.jpg" style="max-height: 100%;" class="fotomapa"><img>
  </div>

  



  

</ion-content>
